<div class="panel buildbaron-panel" ng-controller="TaskBuildBaronCtrl" ng-show="task.status == 'failed' && ! task.task_end_details.timed_out">
  <div class="panel-heading">
    <h2>
        <image class="gravatar-small" src="/ui/plugin/buildbaron/static/images/baron.png"></img> Build Baron
    </h2>
  </div>
  <div class="panel-body">
    <div ng-show="build_baron_status == 'loading'">
          <span class="spinner"><i class="icon-spin icon-spinner"></i></span>
          Searching jira for tickets
    </div>
    <div ng-show="build_baron_status == 'error'">Searching jira failed</div>
    <div ng-show="build_baron_status == 'nothing'">No results found matching task or tests</div>
    <table ng-show="build_baron_status == 'success'"  class="buildbaron-results">
       <tbody ng-repeat="issue in build_baron_results">
           <tr>
               <td colspan="3" class="buildbaron-issue">
                   <a href="https://jira.mongodb.org/browse/[[issue.key]]">[[issue.key]]: [[issue.fields.summary]]</a>
                   &nbsp;
                   <span class="buildbaron-issue-status">[[issue.fields.status.name]]</span>
               </td>
           </tr>
           <tr ng-show="issue.fields.status.name == 'Open'">
               <td class="buildbaron-issue-open" >Created: [[issue.fields.created | date]]</td>
               <td class="buildbaron-issue-open" >Update: [[issue.fields.updated | date]]</td>
               <td class="buildbaron-issue-open" >Assignee: [[issue.fields.assignee.displayName]]</td>
           </tr>
      </tbody>
    </table>
  </div>
</div>
