<div
    class="panel buildbaron-panel"
    ng-controller="TaskBuildBaronCtrl"
    ng-show="task.status == 'failed' && ! task.task_end_details.timed_out"
    >
  <div class="panel-heading">
    <h2>
        <img class="gravatar-small" src="/ui/plugin/buildbaron/static/images/baron.png">
        </img>
        Build Baron
    </h2>
  </div>
  <div class="panel-body" ng-switch="build_baron_status">
    <div ng-switch-when="loading">
          <span class="spinner"><i class="icon-spin icon-spinner"></i></span>
          Searching jira for tickets
    </div>
    <div ng-switch-when="error">Searching jira failed</div>
    <div ng-switch-when="nothing">No results found matching task or tests</div>
    <div ng-switch-when="success" class="buildbaron-results">
       <div class="buildbaron-issue" ng-repeat="issue in build_baron_results">
           <div class="buildbaron-row buildbaron-row-[[issue.fields.status.name | lowercase]]">
               <span class="buildbaron-issue-summary">
                   <a ng-href="https://jira.mongodb.org/browse/[[issue.key]]">
                       [[issue.key]]: [[issue.fields.summary]]
                   </a>
               </span>
               <span class="buildbaron-issue-status">[[issue.fields.status.name]]</span>
            </div>
           <div class="buildbaron-row">
               <div class="buildbaron-issue-detail buildbaron-issue-detail-left">
                   Created: [[issue.fields.created | date]]
               </div>
               <div class="buildbaron-issue-detail buildbaron-issue-detail-middle">
                   Update: [[issue.fields.updated | date]]
               </div>
               <div
                   class="buildbaron-issue-detail buildbaron-issue-detail-right"
                   ng-show="issue.fields.assignee.displayName != nil"
                   >
                   Assignee: [[issue.fields.assignee.displayName]]
               </div>
               <div
                   class="buildbaron-issue-detail buildbaron-issue-detail-right"
                   ng-show="issue.fields.assignee.displayName == nil"
                   >
                   Unassigned
               </div>
            </div>
      </div>
    </div>
  </div>
</div>
